{% extends "base.html" %}

{% block navitems %}
<style>
    .dropdown-menu-end {
        right: 0;
    }

    @media (min-width: 992px) {
        .dropdown-menu-end.dropdown-menu {
        margin-right: 0;
        margin-left: auto;
        }
    }

</style>
<div class="collapse navbar-collapse" id="navbarColor02">
<ul class="navbar-nav ms-auto">
    <a class="nav-link text-light" href="{% url 'new_request' %}"><span class="material-symbols-outlined">edit</span><span class="align-top ms-1">New Request</span></a>
    <div class="ml-auto">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Settings
            </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'user_profile' %}">
                <span class="material-symbols-outlined">person</span>
                <span class="align-top ms-1">Profile</span>
            </a>
            <a class="dropdown-item" href="{% url 'login' %}">
                <span class="material-symbols-outlined">logout</span>
                <span class="align-top ms-1">Log Out</span>
            </a>
            </div>
        </li>
    </div>

</ul>
</div>
{% endblock navitems %}

{% block body %}

<div class="row justify-content-center mb-5 mt-4">
    <input type="hidden" id="csrf" value="{{csrf_token}}">
    <div class="col-sm-6">
        <a href="/" class="text-dark"><h2><span class="material-symbols-outlined">arrow_back</span>New Request</h2></a>
        <div class="card bg-light mb-3" >
            <div class="card-body">
            {% for message in response %}
            <div class="alert alert-{{message.tags}} alert-dismissible fade show mt-2 col-6" style="margin:0 auto;" role="alert">
                <strong>{{message}}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                </button>
            </div>
            {% endfor %}

            <div class="validate-form">
                <div class="login100-form" method="post">
                    <div class="form-group">
                        <label class="form-label" for="pickup">Pick Up/Drop Date</label>
                        <input class="form-control" name="pickup" id="pickup" type="date">
                    </div>
                    <div class="form-group mt-2">
                        <label class="form-label" for="topwear">Top Wear(T-shirt, Top, Shirt)</label>
                        <input class="form-control" name="topwear" id="topwear" type="number" placeholder="Top Wear(T-shirt, Top, Shirt)" min="0">
                    </div>
                    <div class="form-group mt-2">
                        <label class="form-label" for="bottomwear">Bottom Wear(Lower, Jeans, Leggins)</label>
                        <input class="form-control" name="bottomwear" id="bottomwear" type="number" placeholder="Bottom Wear(Lower, Jeans, Leggins)" min="0">
                    </div>
                    <div class="form-group mt-2">
                        <label class="form-label" for="woolencloth">Woolen Cloth</label>
                        <input class="form-control" name="woolencloth" id="woolencloth" type="number" placeholder="woolencloth" min="0">
                    </div>
                    <div class="form-group mt-2">
                        <label class="form-label" for="othercloth">Other Cloths</label>
                        <input class="form-control" name="othercloth" id="othercloth" type="number" placeholder="Other Than Above Three Category" min="0">
                    </div>
                    <div class="form-group mt-2">
                        <label for="servicetype" class="form-label">Service Type</label>
                        <select class="form-select" id="servicetype" onchange="toggleAddressField()">
                            <option value="drop">Drop</option>
                            <option value="pickup">Pick Up from house</option>
                        </select>
                    </div>
                    <div class="form-group mt-2" id="addressField" style="display:none;">
                        <label for="address" class="form-label">Address</label>
                        <textarea class="form-control" id="address" rows="3"></textarea>
                    </div>
                    <div class="form-group mt-2">
                        <label class="form-label" for="mobilenumber">Mobile Number</label>
                        <input class="form-control" name="mobilenumber" id="mobilenumber" type="number" placeholder="Mobile Number">
                    </div>
                    <div class="form-group mt-2">
                        <label for="description" class="form-label">Description(if any)</label>
                        <textarea class="form-control" id="description" rows="3"></textarea>
                    </div>
                    <div class="form-group mt-2 mt-2">
                        <button class="login100-form-btn btn btn-primary" onclick="newreq()">Submit</button>
                        <a class="login100-form-btn btn btn-secondry" href="/newreq/">Cancle</a>
                    </div>
                </div>
            </div>
    </div>
</div>
</div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.min.js"></script>

<script>
function toggleAddressField() {
    var selectedOption = document.getElementById("servicetype").value;
    var addressField = document.getElementById("addressField");
    
    if (selectedOption === "pickup") {
        addressField.style.display = "block";
    } else {
        addressField.style.display = "none";
    }
}
</script>

{% endblock body %}