{%extends 'base.html'%}

{% block navitems %}
<div class="collapse navbar-collapse" id="navbarColor01">
<ul class="navbar-nav me-auto">
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle text-light" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">User</a>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="/login/">Sign in</a>
        <a class="dropdown-item" href="/register/">Sign up</a>
    </div>
</li>
</ul>
</div>
{% endblock navitems %}



{%block body%}
<div class="row justify-content-center mb-5 mt-4">
    <div class="col-sm-6">
        <div class="card bg-light mb-3" >
            <div class="card-header"><i class="fa-solid fa-pen-to-square fa-lg"></i>Reset Password</div>
            <div class="card-body">
            {% for message in messages %}
            <div class="alert alert-danger alert-dismissible fade show mt-2 col-6 mb-2" style="margin:0 auto;" role="alert">
                <strong>{{message}}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                </button>
            </div>
            {% endfor %}

        <div class="validate-form">
			<form class="login100-form" method="post">
                {% csrf_token %}
                {% for field in form %}
                <div class="form-group">
                    <label class="form-label" for="{{ field.id_for_label }}">{{field.label_tag}}</label>
                    {{ field }}
                    {% if field.errors %}
                    <small>{{ field.errors|striptags  }}</small>
                    {% endif %}
                </div>
				{% endfor %}
					</div>
				<div class="form-buttons mt-2">
					<button type="submit" value="Send" class="btn btn-primary" id="submit-button">Send</button>
                    <button class="btn btn-primary d-none" type="button" id="loading-button" disabled>
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Loading...
                    </button>
					<a href="{%url 'login' %}"  class="btn btn-outline">Cancel</a>
				</div>
			</form>
		</div>
	</div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('#submit-button').on('click', function () {
            $('#submit-button').addClass('d-none');
            $('#loading-button').removeClass('d-none');
        });
    });
</script>
{%endblock body%}