{%extends 'base.html'%}

{%block body%}
<div class="row justify-content-center mb-5 mt-4">
    <div class="col-sm-6">
        <div class="card bg-light mb-3" >
            <div class="card-header"><i class="fa-solid fa-pen-to-square fa-lg"></i>Reset Password</div>
            <div class="card-body">
            {% if messages %}
            <div class="alert alert-danger alert-dismissible fade show mt-2 col-6" style="margin:0 auto;" role="alert">
                <strong>{{messages}}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                </button>
            </div>
            {% endif %}
				<p>Your password has been changed successfully. Please <a href="{% url 'login' %}">Login</a></p>
		</div>
	</div>
</div>
{%endblock body%}