{%extends 'base.html'%}

{%block body%}
<div class="row justify-content-center mb-5 mt-4">
    <div class="col-sm-6">
        <div class="card bg-light mb-3" >
            <div class="card-header"><i class="fa-solid fa-pen-to-square fa-lg"></i>Reset Password</div>
            <div class="card-body">
            {% if messages %}
            <div class="alert alert-danger alert-dismissible fade show mt-2 col-6" style="margin:0 auto;" role="alert">
                <strong>{{messages}}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                </button>
            </div>
            {% endif %}
			<div class="validate-form">
				<form method="post" class="login100-form">
				{% csrf_token %}
				<h2 class="mb-3">Password Reset Confirm</h2>
				{% for field in form %}
					<div class="form-group mb-2">
						<label class="form-label" for="{{ field.id_for_label }}">{{field.label_tag}}</label>
						{{ field }}
						{% if field.errors %}
						<br><small class="text-danger">*{{ field.errors|striptags  }}</small>
						{% endif %}
					</div>
				{% endfor %}
				<div>
					<button type="submit" class="btn btn-primary">Reset Password</button>
				</div>
			</form>
		</div>
	</div>
</div>

{%endblock body%}